#map{
        border:1px salmon solid;
        width: 50%;
        height: 50%;
        margin: 0 auto;
        text-align: center;
}

#div2{
    border:1px salmon solid;
    font-size: 18px;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
}

.frmControl{

    margin: 15px;

}

body{
    background-color:#AAAAAAx;
}